*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
/* Contenedor principal de la págin*/
#container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #272b33;
}
main > h1 {
  background-color: #272b33;
  color: chartreuse;
  text-align: center;
  padding-top: 30px;
}
/* Estilos para las card de la página */
#card {
  height: 150px;
  width: 500px;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
  background-color: #3c3e44;
  display: flex;
}


#card > div:first-child > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#card > div:last-child {
  padding: 20px;
}

#card > div:last-child > h1 {
  color: #ff9800;
}
